@if (!errorMessage()) {
  @if (!loading()) {
    <h4>Details</h4>
    <div class="row">
      <div class="col-md-4">
        <media-item [item]="mediaItem"></media-item>
      </div>
      <div class="col-md-8">
        <p>
          <span class="fw-bold">Description</span>: {{ mediaItem?.description }}
        </p>
        @if (mediaItem?.length) {
          <span class="fw-bold">Length</span>: {{ mediaItem?.length }}
        }

        <p>
          <span class="fw-bold">Votes</span>: {{ mediaItem?.votes }}
        </p>

        <p>
          <span class="fw-bold">Popularity</span>: {{ mediaItem?.popularity }}
        </p>

        <p>
          <span class="fw-bold">Language</span>: {{ mediaItem?.language }}
        </p>

        @if (mediaItem?.episodes) {
          <p>
            <span class="fw-bold">Episodes</span>: {{ mediaItem?.episodes }}
          </p>
        }

        @if (mediaItem?.seasons) {
          <p>
            <span class="fw-bold">Seasons</span>: {{ mediaItem?.seasons }}
          </p>
        }

        @if (mediaItem?.genres?.length) {
          <p>
            <span class="fw-bold">Genres</span>: @for (genre of mediaItem?.genres; track genre.id){ <br /> {{ genre.name }} }
          </p>
        }

      </div>
    </div>
  } @else {
    <loading-spinner [loading]="loading()"></loading-spinner>
  }
}

@if(errorMessage()) {
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <span [outerHTML]="errorMessage()"></span>
    </div>
  </div>
}
