.wizard {
  max-width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px auto 0;

  &__card {
    &__title {
      font-weight: normal;
      color: var(--mat-sys-primary);
    }

    &__subtitle {
      margin-top: 10px;
      font-weight: normal;
      color: var(--mat-sys-secondary);
    }

    &__content {
      .mat-mdc-card-actions {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
      }

      mat-spinner {
        top: 2px;
        display: inline-block;
      }
    }
  }
}
