<div class="wizard">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="wizard__card__title">
        Connect the application to The Movie Database (TMDB)
      </mat-card-title>
      <mat-card-subtitle class="wizard__card__subtitle">
        To proceed, please provide your TMDB <b>API Read Access Token</b> into the field below.<br /><br />
        You can locate this token logging into your <a href="https://www.themoviedb.org/settings/api" target="_blank">TMDB account</a> and navigating to Settings > API. If you didn't create one yet, please use <a href="https://developer.themoviedb.org/docs/getting-started" target="_blank">this guide</a> to get started.
      </mat-card-subtitle>
    </mat-card-header>

    <form (ngSubmit)="submit()" [formGroup]="wizardForm" autocomplete="off">
      <mat-card-content class="wizard__card__content">
        <mat-form-field appearance="outline">
          <mat-label>TMDB Token</mat-label>
          <textarea matInput [errorStateMatcher]="matcher" formControlName="token" rows="5" cols="120"></textarea>
          @if(token?.hasError('required')){
            <mat-error>Token is <strong>required</strong></mat-error>
          }
          @if(token?.hasError('invalidToken') && !token?.hasError('required')){
            <mat-error>
              Fail to validate the token! {{ token?.getError('invalidToken') }}
            </mat-error>
          }
        </mat-form-field>
        @if(hasValidToken && !busy && !token?.hasError('invalidToken') && !token?.hasError('required')){
          <div class="alert alert-success" role="alert">
            The application has been successfully connected to TMDB. <a [routerLink]="['/']">Return to the application</a>
          </div>
        }
        <mat-card-actions>
          <button [disabled]="!wizardForm.valid || busy" color="primary" mat-raised-button type="submit">
            @if(busy){
              <mat-spinner diameter="15"></mat-spinner>
            }
            Save & Continue
          </button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>
