.header-navigation {
  background-color: var(--mat-sys-background);
  &__menu {
    &__item {
      > a {
        color: var(--mat-sys-primary);
      }

      &--active {
        color: var(--mat-sys-primary);
      }
    }

    &__search-box {
      display: contents;
    }
  }
}
