.card {
  &__header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 8px 0;

    &__rating {
      background-color: rgba(255, 254, 182, 0.85) !important;
      position: absolute;
      top: 3px;
      right: 3px;
      z-index: 100;
    }
  }

  &__content {
    padding: 0;

    &__link {
      display: contents;
      cursor: pointer;

      img {
        width: 100%;
        border-top-left-radius: 14px 10px;
        border-top-right-radius: 14px 10px;
      }
    }
  }

  &__footer {
    &__title {
      padding: 10px;
      font-size: 20px;
      color: var(--mat-sys-primary);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &__link {
        text-decoration: none;

        &:hover {
          color: var(--mat-sys-secondary);
          cursor: pointer;
        }
      }
    }

    &__subtitle {
      padding: 0 10px 10px 10px;
      color: var(--mat-sys-secondary);
    }
  }
}
