<nav class="navbar fixed-top navbar-expand-lg navbar-light header-navigation">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">{{ appTitle }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavigationContent" aria-controls="headerNavigationContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse header-navigation__menu" id="headerNavigationContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link header-navigation__menu__item" aria-current="page" [routerLink]="['/tv-show/top-rated']" [routerLinkActive]="['header-navigation__menu__item--active']">Top Rated TV Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header-navigation__menu__item" [routerLink]="['/movie/top-rated']" [routerLinkActive]="['header-navigation__menu__item--active']">Top Rated Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/wizard" title="Token">
            <fa-icon [icon]="faKey"></fa-icon>
          </a>
        </li>
      </ul>
      <form class="d-flex col-md-6">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>

