@use '@angular/material' as mat;
@include mat.core();
html {
  color-scheme: light dark;
  @include mat.theme((
    // possible to choose another theme for the application (see https://material.angular.io/guide/theming#prebuilt-color-palettes for all build-in themes)
    color: mat.$azure-palette,
    //color: mat.$green-palette,
    //color: mat.$rose-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  padding: 65px 0 0 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


a {
  color: var(--mat-sys-primary);

  &:hover {
    color: var(--mat-sys-secondary);
  }
}

/* Route transition animations */
@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}
::view-transition-old(count), ::view-transition-new(count) {
  animation-duration: 200ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}
::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
