<div class="top-rated-media" infiniteScroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()" [scrollWindow]="true">
  <div>
    <media-list *ngIf="!errorMessage" [items]="mediaItems" [mediaType]="mediaType" [loading]="loading"></media-list>
    <div *ngIf="errorMessage" class="mt-3">
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center">
    <mat-spinner diameter="35"></mat-spinner>
  </div>
</div>
